/*body {
    background-image: url('../img/husky.jpg');
    background-position: center center;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (max-width: 991px){
    .body{
     background-image: url('');
     background-color: white;
    }
}*/



.botones,.titulo,.texto{
    margin-top: 20%;
}

.texto{
    text-align: center;
    color: #dddddd;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none; 
}

.btn-primary {
    padding-top: 15px !important;
}

.btn-default {
    padding-top: 15px !important;
}

.btn-default {
    height: 50px !important;
/*    padding-top: 15px;*/
    width: 100% !important;
    color: #fff !important;
    background-color: #304357 !important;
    border-color: #304357 !important;
}

.titulo>h4{
    text-align: center;
    color: #dddddd;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;	
}

.contenedor_muestra{
	background-color: gray;
    height: 1000px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.sidebar {
    background: rgba(51,51,51,0.75);
    position: absolute !important;
    height: 100% !important;
    padding: 2%;
    box-sizing: border-box;
}


@media screen and (max-width: 991px){
    .btn-default{
    margin-top: 20px;
    }
}



